$primary-color: #3C567F;
$second-color: #425E8C;
$third-color: #304566;
$light-color: #6089CC;
$dark-color: #1E2B40;

$url-color: $primary-color;
$url-color--active: $light-color;
$url-color--hover: $third-color;
$url-color--visited: $dark-color;