.btn{
  border-radius: 5em !important;
  color: white;
  font-size: 11px !important;
  font-weight: 100 !important;
  height: 4em;
  min-width: 45px;
  border: none !important;
  line-height: 2.7em !important;
  margin: 0 5px;
  padding: .375rem 1.75rem !important;
}

.btn-red{
  background: rgb(243,119,169);
  background: -moz-linear-gradient(left, rgba(243,119,169,1) 0%, rgba(244,166,142,1) 100%);
  background: -webkit-linear-gradient(left, rgba(243,119,169,1) 0%,rgba(244,166,142,1) 100%);
  background: linear-gradient(to right, rgba(243,119,169,1) 0%,rgba(244,166,142,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f377a9', endColorstr='#f4a68e',GradientType=1 );
  -webkit-box-shadow: 0px 0px 30px 0px rgba(247,140,156,0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(247,140,156,0.5);
  box-shadow: 0px 0px 30px 0px rgba(247,140,156,0.5);
  transition: 0.5s;
  -webkit-text-fill-color: initial;
}
.btn-red:hover{
  -webkit-box-shadow: 0px 0px 50px 5px rgba(247,140,156,0.5);
  -moz-box-shadow: 0px 0px 50px 5px rgba(247,140,156,0.5);
  box-shadow: 0px 0px 50px 5px rgba(247,140,156,0.5);
  transition: 0.5s;
}

.btn-blue{
  background: rgb(64,147,251);
  background: -moz-linear-gradient(left, rgba(64,147,251,1) 0%, rgba(9,223,210,1) 100%);
  background: -webkit-linear-gradient(left, rgba(64,147,251,1) 0%,rgba(9,223,210,1) 100%);
  background: linear-gradient(to right, rgba(64,147,251,1) 0%,rgba(9,223,210,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4093fb', endColorstr='#09dfd2',GradientType=1 );
  -webkit-box-shadow: 0px 0px 50px -9px rgba(31,185,228,1);
  -moz-box-shadow: 0px 0px 50px -9px rgba(31,185,228,1);
  box-shadow: 0px 0px 50px -9px rgba(31,185,228,1);
  transition: 0.5s;
  -webkit-text-fill-color: initial;
}
.btn-blue:hover {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(31,185,228,1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(31,185,228,1);
  box-shadow: 0px 0px 50px 0px rgba(31,185,228,1);
  transition: 0.5s;
  color: white !important;
}