body{
  overflow-x: hidden;
  color: white;
}

.container {
  padding-bottom: 50px;
}

.admin-bar nav {
  top: 32px; /* on prend en compte le décalage */
}

a.navbar-brand {
  font-family: Opificio;
  color: $second-color !important;
}

.bg-dark-75{
  background-color: #333333;
  opacity: 0.8;
  color:white;
}

.bg-lightgrey{
  background-color: #f7f7f7;
}

.bg-blue{
  background-color: $third-color;
  p{
    margin-bottom: 0rem;
  }
}

.bg-dark{
  background-color: #333333;
  color: white;
}

.wp-block-code, .wp-block-preformatted pre{
  display: block;
  text-align: left !important;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #333333;
  code {
    padding: 3px;
    color: rgb(243,119,169) !important;
    background-color: #333333;
  }
}