.btn-primary{
  background-color: $primary-color;
  padding: 0.5rem 1rem;
  border: 1px solid #425E8C;
  border-radius: 5px 0 5px 0;
  transition: 0.5s;
}

.btn-primary:hover{
  border-radius: 0 5px 0 5px !important;
  transition: 0.5s;
  text-decoration: none;
}