.menu a, article p a{ position: relative; color: $color-text !important; text-decoration: none; transition: 0.5s; cursor: pointer}
.menu a:hover, article p a:hover{  color: $url-color--hover !important;text-decoration: none; transition: 0.5s; cursor: pointer}
.menu a:before, article p a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  top: 1.2em;
  background-color: $url-color--hover !important;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu a:hover:before, article p a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.menu a:visited{color: $url-color--active !important; text-decoration: none;}
.menu a.active, article p a.active{
  color: $primary-color !important;
  text-decoration: none;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.more-link{
  background-color: $primary-color;
  padding: 0.5rem 1rem;
  border: 1px solid #425E8C;
  border-radius: 5px 0 5px 0;
  transition: 0.5s;
  color: white !important;
}

a.more-link:hover{
  background-color: #0069d9;
  border-radius: 0 5px 0 5px!important;
  transition: .5s;
  text-decoration: none;
}